body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(184, 157, 122);
  color: aliceblue;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: aliceblue;
}

.Page {
  display: flex;
  flex-direction: column;
  background-color: #fff2;
  margin: 0 auto;
  border-radius: 8px;
}

.Bread {
  margin: 1em 0.5em 0 0.5em;
  max-width: 482px;
}

.Bread h2 {
  color: black;
}

.Bread p {
  color: black;
}

.Page img {
  border-radius: 8px 8px 0 0;
}

#glCanvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  pointer-events: none;
}
