.Header {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 2rem 0 2rem 0;
  align-items: center;
}

#main {
  font-size: 120%;
  border-right: 1px solid aliceblue;
  padding-right: 2rem;
}

a {
  margin: 0 1em;
}
